additor-crx div,
additor-crx button,
additor-crx input[type=text],
additor-crx textarea,
additor-crx p,
additor-crx span,
additor-crx ul,
additor-crx li,
additor-crx img,
additor-crx a,
additor-crx h1,
additor-crx h2,
additor-crx h3,
additor-crx h4,
additor-crx h5,
additor-crx h6 {
    all: initial;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    outline: none;
}
